input[type="radio"]{
    margin: 0 10px 0 10px;
  }
.image {
    margin-top: 50px;
    margin-bottom: 50px;
}
#age {
    width: 45%;
    float: left;
}
#gender {
    width: 45%;
    float: right;
}
.chooseVehicle {
    float: left;
}
.form-group {
    display: inline-grid;
}
.submit {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    font-size: 20px !important;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

